/* Colours */
:root {

	/* Primary*/
	--Pink: hsl(322, 100%, 66%);
	--LightPink: hsl(321, 100%, 78%);
	--DarkPink: rgba(255, 82, 193, 0.218778);

	--LightRed: hsl(0, 100%, 63%);

	/* Neutral*/
	--VeryDarkCyan: hsl(192, 100%, 9%);
	--VeryPaleBlue: hsl(207, 100%, 98%);
}

/* Typography */
@font-face {
	font-family: poppins;
	src: url(https://fonts.google.com/specimen/Poppins);
	font-weight: 700;
}

@font-face {
	font-family: openSans;
	src: url(https://fonts.google.com/specimen/Open+Sans);
}

/* Default */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Mobile */
@media screen and (max-width: 375px) {
	.header {
		position: absolute;
		height: 24px;
		top: 24px;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		width: 96px;
		height: 16px;
		margin-left: 24px;
	}

	.button-header {
		cursor: pointer;
		width: 80px;
		height: 23px;
		margin-right: 24px;

		background: #FFFFFF;
		border: 1px solid var(--Pink);
		box-shadow: 0 0 9px var(--DarkPink);
		border-radius: 11px;
	}

	.button-header:hover {
		border: 1px solid var(--LightPink);
	}

	/* Hero */
	.hero {
		position: absolute;
		width: 296px;
		height: 581px;
		left: 40px;
		top: 160px;


	}

}

/* Desktop */
@media screen and (min-width: 375px) {
	/* Header */
	.header {
		position: absolute;
		height: 40px;
		top: 78px;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		width: 240px;
		height: 38px;
		margin-left: 5%;
	}

	.button-header {
		cursor: pointer;
		width: 136px;
		height: 40px;
		margin-right: 5%;

		background: #FFFFFF;
		border: 1px solid var(--Pink);
		box-shadow: 0 0 9px var(--DarkPink);
		border-radius: 20px;
	}

	.button-header:hover {
		background: #FFFFFF;
		border: 1px solid var(--LightPink);
		box-shadow: 0 0 9px var(--DarkPink);
		border-radius: 20px;
	}

	/* Hero */
	.hero {
		position: absolute;
		max-width: 1017px;
		height: 1157px;
		top: 343px;
		left: 15%;

	}

}
