/* Colours */
:root {

	/* Primary*/
	--Pink: hsl(322, 100%, 66%);
	--LightPink: hsl(321, 100%, 78%);
	--DarkPink: rgba(255, 82, 193, 0.218778);

	--LightRed: hsl(0, 100%, 63%);

	/* Neutral*/
	--VeryDarkCyan: hsl(192, 100%, 9%);
	--VeryPaleBlue: hsl(207, 100%, 98%);
}

/* Typography */
@font-face {
	font-family: poppins;
	src: url(https://fonts.google.com/specimen/Poppins);
	font-weight: 700;
}

@font-face {
	font-family: openSans;
	src: url(https://fonts.google.com/specimen/Open+Sans);
}

/* Default */

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	min-height: 100vh;
	min-width: 100vw;
}

/* Mobile */
@media screen and (max-width: 640px) {
	.header {
		margin: 24px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		width: 96px;
		height: 16px;
	}

	.button-header {
		cursor: pointer;
		width: 80px;
		height: 23px;

		background: #FFFFFF;
		color: var(--Pink);
		border: 1px solid var(--Pink);
		box-shadow: 0 0 9px var(--DarkPink);
		border-radius: 11px;
		font-family: openSans, sans-serif;
		font-size: 9px;
		line-height: 13px;
	}

	.button-header:hover {
		border: 1px solid var(--LightPink);
		color: var(--LightPink);
	}

	/* Hero */
	.hero {
		text-align: center;
		color: var(--VeryDarkCyan);
		margin-top: 15%;
	}

	.hero-heading {
		margin: 0 15%;
		overflow-wrap: break-word;
		font-family: poppins, sans-serif;
		font-weight: 700;
		font-size: 24px;
		line-height: 36px;
	}

	.hero-paragraph {
		margin: 2% 10%;
		font-family: openSans, sans-serif;
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
	}

	.hero-button {
		min-width: 200px;
		height: 40px;
		border-radius: 20px;
		background-color: var(--Pink);
		color: #FFFFFF;
		font-family: openSans, sans-serif;
		font-weight: 700;
		font-size: 12px;
		line-height: 18px;
		box-shadow: 0 6px 13px rgba(0, 37, 46, 0.223053);
		cursor: pointer;
		border: none;
	}

	.hero-button:hover {
		background-color: var(--LightPink);
	}

	.hero-image {
		margin: 10% 0;
		width: 80%;
	}

}

/* Desktop */
@media screen and (min-width: 640px) {
	/* Header */
	.header {
		margin: 60px 80px;
		height: 40px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		width: 240px;
		height: 38px;
	}

	.button-header {
		cursor: pointer;
		width: 136px;
		height: 40px;

		background: #FFFFFF;
		border: 1px solid var(--Pink);
		color: var(--Pink);
		box-shadow: 0 0 9px var(--DarkPink);
		border-radius: 20px;
		font-family: openSans, sans-serif;
		font-size: 16px;
		line-height: 22px;
	}

	.button-header:hover {
		border: 1px solid var(--LightPink);
		color: var(--LightPink);
	}

	/* Hero */
	.hero {
		margin-top: 15%;
		text-align: center;
		color: var(--VeryDarkCyan)
	}

	.hero-heading {
		margin: 0 10%;
		overflow-wrap: break-word;
		font-family: poppins, sans-serif;
		font-weight: 700;
		font-size: 48px;
		line-height: 72px;
	}

	.hero-paragraph {
		margin: 2% 30%;
		font-family: openSans, sans-serif;
		font-weight: 400;
		font-size: 20px;
		line-height: 30px;

	}

	.hero-button {
		padding: 0 7%;
		height: 80px;
		border-radius: 40px;
		background-color: var(--Pink);
		color: #FFFFFF;
		font-family: openSans, sans-serif;
		font-weight: 700;
		font-size: 20px;
		line-height: 30px;
		box-shadow: 0 6px 13px rgba(0, 37, 46, 0.223053);
		cursor: pointer;
		border: none;
	}

	.hero-button:hover {
		background-color: var(--LightPink);
	}

	.hero-image {
		width: 65%;
		margin: 10% 0;
	}

}
