/* Colours */
:root {

	/* Primary*/
	--Pink: hsl(322, 100%, 66%);
	--LightPink: hsl(321, 100%, 78%);
	--DarkPink: rgba(255, 82, 193, 0.218778);

	--LightRed: hsl(0, 100%, 63%);

	/* Neutral*/
	--VeryDarkCyan: hsl(192, 100%, 9%);
	--VeryPaleBlue: hsl(207, 100%, 98%);
	--VeryPaleGrey: hsla(208, 12%, 55%, 1);
}

/* Typography */
@font-face {
	font-family: poppins;
	src: url(https://fonts.google.com/specimen/Poppins);
	font-weight: 700;
}

@font-face {
	font-family: openSans;
	src: url(https://fonts.google.com/specimen/Open+Sans);
}

/* Default */

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	min-height: 100vh;
	min-width: 100vw;
}

